<%- include("partials/header") %> 

    <header class="jumbotron">
        <div class="container">
            <h1 class="display-3">Welcome to YelpCamp!</h1>
            <p>View our handpicked campground around the world!</p>
            <p>
                <a href="/campgrounds/new" class="btn btn-primary btn-lg">Add new Campground</a>
            </p>
        </div>    
    </header>
    
    <div class="container">
        <div class="row text-center" style="display: flex; flex-wrap: wrap;">
            <% campgrounds.forEach(function(campground) { %>
                <div class="col-md-3 col-sm-6">
                    <img src= <%= campground.image %> class="img-thumbnail" alt=""> 
                    <div class="caption">
                        <h4> <%= campground.name %> </h4>
                    </div>               
                </div>
            <% }); %>
        </div>
    </div>


<%- include("partials/footer") %> 